body {
	background-color: slategray;
	font-family: 'Geneva', sans-serif;
	margin: 0 auto;
	max-width: 900px;
}

#header {
	min-width: 300px;
	width: 600px;
	margin: 5px 0px;
	padding: 0px 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px black;
	background-color: aliceblue;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#main {
	background-color: lightgray;
	margin: 10px auto;
	border-radius: 30px;
	padding: 20px;
	box-shadow: 0px 0px 20px black;
}

#canvas {
	margin: 0 auto;
	padding: 10px;
	height: 450px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.pixel {
	background-color: white;
	width: 20px;
	height: 20px;
	margin: 0px;
}

#palette {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px auto;
}

.color {
	height: 23px;
	width: 23px;
	border-radius: 12px;
	margin: 3px;
	background: white;
	box-sizing: border-box;
}

.color:hover {
	box-shadow: 0px 0px 5px 3px white;
}

.color--selected {
	box-shadow: 0px 0px 10px 5px yellow;
}
